name: Release Checks

on:
  push:
    branches:
    - testing-ci

jobs:
  check-reverse-dependencies:
    name: Run Checks
    uses: r-devel/recheck/.github/workflows/recheck.yml@v1
    with:
      which: most
